* {
    box-sizing: border-box;
}

body, html {
    font-size: 16px;
    color: rgba(0,0,0,.87);
    font-family: "Montserrat", sans-serif;
    line-height: 1.8;
    margin: 0;
}

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    padding: 20px;
}

.topbar nav {
    float: left;
}

.topbar nav a {
    color: #9f9f9f;
    text-decoration: none;
    font-weight: 500;
    margin: 0 53px;
    line-height: 23px;
}

.topbar nav a:hover, .toopbar nav a.active {
    color: #000;
}

.banniere {
    top: 50px;
    width: 751px;
    height: 525px;
    z-index: 2;
    margin-left: 20px;
}

.banniere img {
    top: 50px;
    width: 751px;
    height: 525px;
    z-index: 2;
    margin-left: 20px;
}

.main {
    float: left;
    background: #fff;
    width: 70%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .05);
    z-index: 2;
    padding: 20px;
}

.article {
    overflow: hidden;
    padding-left: 100px;
}

.article a {
    color: inherit;
    text-decoration: none;
    padding-left: 20px;
}

.article a:hover {
    text-decoration: underline;
}

.article-title {
    font-size: 2.25rem;
}

.footer {
    clear: both;
}

.sidebar {
    float: right;
    height: 200px;
    background: grey;
    width: 30%;
    padding-left: 20px;
}